<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Microsys Technologies India </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>*@
    <link href="~/Content/boostrapSwitch.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{var StoreId = Session["StoreId"] != null ? Convert.ToInt32(Session["StoreId"]) : 0;}
                @{var StoreStatus = Convert.ToBoolean(Session["StoreStatus"]);}
                @if (StoreId > 0)
                {
                    if (StoreStatus)
                    {
                        <label class="switch">
                            <input type="checkbox" checked name="StoreStatus" id="StoreStatus" onclick="boxDisable($(this));">
                            <span class="slider round"></span>
                        </label>
                    }
                    else
                    {
                        <label class="switch">
                            <input type="checkbox" name="StoreStatus" id="StoreStatus" onclick="boxDisable($(this));">
                            <span class="slider round"></span>
                        </label>
                    }
                    @*<label class="switch">
                            @if (StoreStatus)
                            {
                                <input type="checkbox" name="StoreStatus" id="StoreStatus" onclick="boxDisable($(this));" />
                            }
                            else
                            {
                                <input type="checkbox" checked name="StoreStatus" id="StoreStatus" onclick="boxDisable($(this));" />
                            }
                            <span class="slider round"></span>
                        </label>*@
                }
                @*<img src="~/fonts/logo120x120edit.png" alt="logo" class="img-thumbnail" style="width:50%;">*@
                    @*@Html.ActionLink("Home", "Dashboard", "Main", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @if (StoreId == 0)
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Main")</li>
                            @*<li>@Html.ActionLink("MenuSetUp", "Index", "MenuSetupMaster")</li>*@
                            <li>@Html.ActionLink("View", "Index", "ViewOrder")</li>
                            <li>@Html.ActionLink("Locality", "Index", "LocalityMaster")</li>
                            <li>@Html.ActionLink("Store", "Index", "StoreMaster")</li>
                            <li>@Html.ActionLink("Menu", "Index", "MenuMaster")</li>
                            <li>@Html.ActionLink("Category", "Index", "CategoryMaster")</li>
                            <li>@Html.ActionLink("Product", "Index", "ProductMaster")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Main")</li>
                            @*<li>@Html.ActionLink("MenuSetUp", "Index", "MenuSetupMaster")</li>*@
                            <li>@Html.ActionLink("View", "Index", "ViewOrder")</li>
                            @*<li>@Html.ActionLink("Locality", "Index", "LocalityMaster")</li>*@
                            @*<li>@Html.ActionLink("Store", "Index", "StoreMaster")</li>*@
                            <li>@Html.ActionLink("Menu", "Index", "MenuMaster")</li>
                            <li>@Html.ActionLink("Category", "Index", "CategoryMaster")</li>
                            <li>@Html.ActionLink("Product", "Index", "ProductMaster")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }

                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="col-md-12">

                @{var LoginID = Session["LoginID"] != null ? Convert.ToInt32(Session["LoginID"]) : 0;}
                @{ var username = Session["Username"] != null ? Convert.ToString(Session["Username"]) : ""; }
                @if (LoginID > 0 && username != "")
            {

                    @*@if (HttpContext.Current.Session["LoginID"].ToString() != null && HttpContext.Current.Session["Username"].ToString() != null)
                        {*@
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @*<img src="~/fonts/dropbox2.jpg" class="pull-right" height="50" width="50" />*@
                        <h4>Welcome to @ViewBag.Username !</h4>
                        <p>@ViewBag.LoginID  </p>
                    </div>
                    <div id="idMyModal"></div>
                }
                @RenderBody() <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Microsys Technologies India </p>
                </footer>
            </div>
            @*<div class="alert fade in" id="login-error" style="display:none;">
                    <button type="button" class="close">×</button>
                    <table>
                        <tr>
                            <td>OrderNumber</td>
                            <td>CustomerName</td>
                            <td>PhoneNumber</td>
                        </tr>
                        <tr class="data"></tr>
                    </table>
                </div>*@
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <audio id="audio" src="http://www.soundjay.com/button/beep-19.wav" autostart="false"></audio>
    </body>
</html>
<style>
    /*.navbar {
        min-height: 56px;
    }

    .navbar-right {
        margin-top: 5px;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-left: 15px;
    }*/

    .modal.in .modal-dialog {
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin: 0px;
    }

    /*button {
        margin: 20px;
    }*/

    .modal-dialog {
        width: 410px;
    }
</style>
<script>
    function boxDisable(t) {
        if (t.is(':checked')) {
            $.ajax({
                url: "/Main/StoreOpen",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                success: function (result) {

                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }
            });
        }
        else {
            $.ajax({
                url: "/Main/StoreClose",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                success: function (result) {

                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }
            });
        }
    };
</script>
<script>
    $(window).load(function () {
        var flag = true;
        var old_count = 0;
        var i = 0;
        var ReceivedOrderCount = document.getElementById('ReceivedOrderCount');
        var PreparingOrderCount = document.getElementById('PreparingOrderCount');
        var DispatchedOrderCount = document.getElementById('DispatchedOrderCount');
        var RejectedOrderCount = document.getElementById('RejectedOrderCount');
        function doModal(heading, formContent, orderId) {
            html = '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
            html += '<div class="modal-dialog">';
            html += '<div class="modal-content">';
            html += '<div class="modal-header">';
            html += '<a class="close" data-dismiss="modal">×</a>';
            html += '<h4>' + heading + '</h4>'
            html += '</div>';
            html += '<div class="modal-body">';
            html += formContent;
            html += '</div>';
            html += '<div class="modal-footer">';
            html += '<a href="@Url.Action("OrderDetails", "EverGreenDailyActivity")?OrderId=' + parseInt(orderId) + '" class="btn btn-primary">Open</a>';
            //html += '<span class="btn btn-primary" data-dismiss="modal">Open</span>';
            html += '</div>';  // content
            html += '</div>';  // dialog
            html += '</div>';  // footer
            html += '</div>';  // modalWindow
            $('body').append(html);
            $("#dynamicModal").modal();
            $("#dynamicModal").modal('show');
            $('#dynamicModal').on('hidden.bs.modal', function (e) {
                $(this).remove();
            });

        }
        function foo() {
            $.ajax({
                url: "/Main/GetOrderStatusCount",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    var html = '';
                    var id = 0;
                    $.each(result.data, function (key, item) {
                        if (item.OrderStatusId == 1) {
                            if (item.Count > old_count) {
                                if (i == 0) {
                                    old_count = item.Count;
                                }
                                else {
                                    flag = true;
                                    old_count = item.Count;
                                    var sound = document.getElementById("audio");
                                    sound.play()
                                    ReceivedOrderCount.innerHTML = "";
                                    PreparingOrderCount.innerHTML = "";
                                    DispatchedOrderCount.innerHTML = "";
                                    RejectedOrderCount.innerHTML = "";

                                    $.ajax({
                                        url: "/Main/GetLatestOrderDetails",
                                        type: "GET",
                                        contentType: "application/json;charset=utf-8",
                                        dataType: "JSON",
                                        success: function (result) {
                                            if (result != null) {
                                                var heading = "New Order Received With OrderNo:" + result.OrderNumber + "";
                                                var formContent = "CustomerName : " + result.CustomerName + "<br>" +
                                                                  "Phone NO. : " + result.PhoneNumber + "";
                                                var orderId = parseInt(result.OrderId);
                                                doModal(heading, formContent, orderId);
                                            }
                                        },
                                        error: function (errormessage) {
                                            //alert(errormessage.responseText);
                                        }
                                    });
                                }
                            } i = 1;
                        }
                        id = item.OrderStatusId
                        @*div.innerHTML += item.Count;
                        html += '<tr>';
                        //html += '<td>' + item.OrderStatusId + '</td>';
                        html += '<td>' + item.OrderStatus + '</td>';
                        html += '<td>' + item.Count + '</td>';
                        //html += '<td><a href="#" onclick="return getbyID(' + item.OrderStatusId + ')" class="btn btn-success btn-sm">View</a></td>';
                        html += '<td><a href="@Url.Action("GetEverGreenOrders", "EverGreenDailyActivity")?OrderStatusId=' + item.OrderStatusId + '" class="btn btn-success btn-sm">View</a></td>';
                        html += '</tr>';*@

                        if (flag) {
                            if (item.OrderStatus == "Received") {
                                ReceivedOrderCount.innerHTML += item.Count;
                                flag = true;
                            }
                        }
                        if (flag) {
                            if (item.OrderStatus == "Preparing") {
                                PreparingOrderCount.innerHTML += item.Count;
                                flag = true;
                            }
                        }
                        if (flag) {
                            if (item.OrderStatus == "Dispatched") {
                                DispatchedOrderCount.innerHTML += item.Count;
                                flag = true;
                            }
                        }
                        //if (flag) {
                        //    if (item.OrderStatus == "Delivered") {
                        //        // PreparingOrderCount.innerHTML += item.Count;
                        //    }
                        //}
                        //if (flag) {
                        //    if (item.OrderStatus == "Client Rejected") {
                        //        // PreparingOrderCount.innerHTML += item.Count;
                        //    }
                        //}
                        if (flag) {
                            if (item.OrderStatus == "Store Rejected") {
                                RejectedOrderCount.innerHTML += item.Count;
                                flag = false;
                            }
                        }

                    });
                    flag = false;
                    // $('#tbody').html(html);
                },
                error: function (errormessage) {
                    //alert(errormessage.responseText);
                }
            });
        }
        setInterval(foo, 500);
    });
</script>