@model IEnumerable<DropBoxApplication.Models.CategoryMasterModel>

<div class="clearfix"></div>
@*<div id="states-loading-progress" style="display: none;" class="loader alert alert-dismissible ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong> Please wait..  !</strong>
    </div>*@


<div class="table-responsive tables">
    <div class="ContenedorTabla">
        <table id="pruebatabla" class="table table-striped table-bordered">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th id='column-header-1'>Image</th>
                        <th id='column-header-2'>Id</th>
                        <th id='column-header-3'>Category Name</th>
                        <th id='column-header-4'>Category Description</th>
                        <th id='column-header-5'>Store Name</th>
                        <th id='column-header-6'>Menu Name</th>
                        <th id='column-header-7'>Edit</th>
                        <th id='column-header-8'>Remove</th>
                    </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tbody class="searchable">
                        <tr>
                            <td><img src="@item.CategoryPictures" width="40" height="35" /></td>
                            <td>@item.CategoryId</td>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td>@item.StoreName</td>
                            <td>@item.MenuName</td>
                            <td><a href="@Url.Action("GetCategoryById", "CategoryMaster",new { @id= @item.CategoryId})" class="btn btn-success btn-sm">Edit</a></td>
                            <td><a href="@Url.Action("RemoveCategory", "CategoryMaster",new { @id= @item.CategoryId})" cl class="btn btn-primary btn-sm">Remove</a></td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>



@*<style type="text/css">
        table#pruebatabla th,
        table#pruebatabla td {
            white-space: nowrap;
            padding: 3px 6px;
            word-wrap: break-word;
            overflow: hidden;
            /*overflow-x: auto;*/
        }
    </style>*@
@*<script type="text/javascript">
        $(function () {
            var thHeight = $("table#pruebatabla th:first").height();
            $("table#pruebatabla th").resizable({
                handles: "e",
                minHeight: thHeight,
                maxHeight: thHeight,
                minWidth: 140, maxWidth: 100,
                resize: function (event, ui) {
                    var sizerID = "#" + $(event.target).attr("id") + "-sizer";
                    $(sizerID).width(ui.size.width);
                }
            });
        });
    </script>*@







